workflow/Request_Whatsapp_Workflow.json
{
  "name": "Request-Whatsapp-Workflow",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -320,
        -80
      ],
      "id": "",
      "name": "WhatsApp Trigger",
      "webhookId": "",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "",
              "name": "guestPhone",
              "value": "={{$json[\"messages\"][0][\"from\"]}}",
              "type": "string"
            },
            {
              "id": "",
              "name": "requestText",
              "value": "={{$json[\"messages\"][0][\"text\"][\"body\"]}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -100,
        -80
      ],
      "id": "",
      "name": "Guest Data"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"guestPhone\": \"{{$json[\"guestPhone\"]}}\",\n  \"requestText\": \"{{$json[\"requestText\"]}}\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        120,
        -80
      ],
      "id": "",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "",
        "recipientPhoneNumber": "={{ $json.guestPhone }}",
        "textBody": "=Request received! Our staff will assist you soon.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        400,
        -100
      ],
      "id": "",
      "name": "WhatsApp Business Cloud",
      "webhookId": "",
      "credentials": {
        "whatsAppApi": {
          "id": "",
          "name": "WhatsApp account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "Guest Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guest Data": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "WhatsApp Business Cloud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": ""
  },
  "id": "",
  "tags": []
}
